/*------------- add fonts ------------*/
@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/MontserratRegular.woff2"), url("../fonts/MontserratRegular.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/MontserratBold.woff2") format("woff2"), url("../fonts/MontserratBold.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
/*--------- common page styles ---------*/
body {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

[class*=__container] {
  max-width: 1010px;
  min-height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

/*--------- common page classes ---------*/
.header-section {
  font-size: 22px;
  font-weight: 700;
}

/*--------- mod's page styles ----------*/
.link--tel {
  text-decoration: none;
}
.link--tel:hover {
  text-decoration: underline;
}

.link--mail {
  text-decoration: underline;
}
.link--mail:hover {
  text-decoration: none;
}

/*--------------- var ---------------*/
/*--------------- aside ---------------*/
.aside {
  flex: 0 1 37.8%;
}
.aside__body {
  padding: 40px 0 370px 0;
  background: rgb(30, 41, 57);
  color: #fff;
}
.aside__photo img {
  max-width: 100%;
}
.aside__info {
  padding: 50px 0 0 40px;
}

.items-info__item:not(:last-child) {
  margin: 0 0 45px 0;
}

.item-info__header {
  margin: 0 0 8px 0;
}
.item-info__link {
  margin: 0 0 0 5px;
}
.item-info__list {
  padding: 0 0 0 18px;
}

.header-aside {
  color: #fff;
}

.contacts {
  font-weight: 700;
}
.link-aside {
  font-weight: 400;
  opacity: 0.5;
  color: rgb(255, 255, 255);
}

.list-info li::marker {
  color: rgb(251, 109, 58);
}

/*--------------- main ---------------*/
.main {
  flex: 0 1 62.2%;
}
.main__body {
  padding: 100px 0 0 88px;
}
.main__about {
  margin: 0 0 40px 0;
}
.main__projects {
  margin: 0 0 50px 0;
}
.main__experience {
  margin: 0 0 45px 0;
}
.about__title {
  margin: 0 0 20px 0;
}
.about__header {
  margin: 0 0 25px 0;
}
.title-spec {
  font-weight: 700;
}

.header-page {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3;
}

.text-about {
  max-width: 400px;
}

.projects__header {
  margin: 0 0 8px 0;
}
.projects__list {
  padding: 0 0 0 18px;
}
.projects__link {
  margin: 0 0 0 10px;
}

.list-projects li::marker {
  font-weight: 700;
}
.list-projects span {
  font-weight: 700;
}

.link-main {
  color: rgb(89, 89, 89);
}
.link-main:hover {
  color: orangered;
}

.experience__header {
  margin: 0 0 10px 0;
}
.experience__item:not(:last-child) {
  margin: 0 0 20px 0;
}
.experience__title {
  margin: 0 0 10px 0;
}
.experience__timeplace {
  margin: 0 0 8px 0;
}
.experience__list {
  padding: 0 0 0 18px;
}

.title-main {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: #FB6D3A;
}
.title-main span {
  color: #000;
}

.timeplace {
  font-size: 12px;
  line-height: 1.3;
  color: #A8A8A8;
}
.timeplace span::after {
  content: "";
  border-right: 2px solid #A8A8A8;
  margin: 0 15px 0 15px;
}

.education__header {
  margin: 0 0 12px 0;
}
.education__title {
  margin: 0 0 8px 0;
}
/*----------- burger-menu ----------*/
.aside__burger {
  margin: 0 0 0 93%;
}

.burger {
  width: 30px;
  height: 30px;
}

.icon-menu-close,
.icon-menu {
  display: none;
}