/*--------- pc -----------*/
@media (max-width: 1400px) {
	body {
		font-size: 13px;
		//background: rgb(120, 122, 236);
	}

	[class*=__container] {
		max-width: 980px;
		padding: 0 30px;
	}

	.header-section {
		font-size: 20px;
	}

	.aside {
		flex: 0 1 36%;
		&__body {
			max-width: 350px;
		}
		&__info {
			padding: 30px 0 0 30px;
		}
	}

	.items-info {
		&__item:not(:last-child) {
			margin: 0 0 30px 0;
	  }
	}

	.item-info {
		&__header {
			margin: 0 0 5px 0;
		}
	}

	.main {
		flex: 0 1 64%;
		&__body {
			padding: 100px 0 0 100px;
		}
		&__about {
			margin: 0 0 30px 0;
		}
		&__projects {
			margin: 0 0 30px 0;
		}
		&__experience {
			margin: 0 0 30px 0;
		}
	}

	.about {
		&__header {
			margin: 0 0 20px 0;
		}
	}

	.projects {
		&__header {
			margin: 0 0 5px 0;
		}
	}
}

@media (max-width: 1000px) {
	[class*=__container] {
		flex-direction: column;
		max-width: 930px;
		padding: 0 10px;
	}

	.aside {
		flex: 0 1 100%;
		&__body {
			display: flex;
			max-width: none;
			padding: 0 0 0 0;
		}
	}

	.photo {
		flex: 0 1 33.333%;
	}
	
	.items-info {
		display: flex;
		&__item:not(:last-child) {
			margin: 0 70px 0 0;
		}
	}
	
	.main {
		flex: 0 1 100%;
		&__body {
			padding: 50px 0 50px 0;
		}
	}

	.text-about {
		max-width: none;
	}
}
/* ---------- tablet ----------- */
@media (max-width: 991.98px) {

}
/* ---------- mobile ----------- */
@media (max-width: 767.98px) {

}

/* ---------- mobile small ----------- */
@media (max-width: 479.98px) {

}